* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
}

img {
  width: 150px;
  margin: 0 auto;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #eef0f4;
}

input {
  color: #432000;
  background-color: #dce1eb;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  margin: 14px 0;
  font-size: 20px;
  text-align: center;
}

button {
  color: #fdfdfd;
  background-color: #ac4854;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
